<p>Find me in app/views/play/results.html.erb</p>

<div>
	<% @questions.each do |question| %>
	<div id="questionContainer"> <!-- Question -->
		<img src="../../assets/regis.jpg" style="width: 25%; float:center; z-index: 100;">
		<div class="questionContent">
			<h2><%= question.content %></h2>
			<h3>The correct answer was <%= question.correct %></h3>
		</div>
	</div>
	<div id="answerContainer"> <!-- Answers -->
		<h4> INCORRECT ANSWERS </h4>
		<div id="answerGroup">
			<% @answers.each do |ans| %>
			<% if ans.tag==@question.tag %>
			<%= submit_tag ans.content, class: "answerContent" %>
			<% else %>
			<% end %>
			<% end %>
		</div>
	</div>
	<% end %>
</div>