<div id="outer-container">
	<h1>Score: <%= @score %></h1>
	<div id="inner-container">
		<div id="question-row">
			<h1>Your Final Score: <%= @score %></h1>
		</div>
		<hr>
		<div id="answer-row">
				<table class="highchart" data-graph-container-before="1" data-graph-type="column">
				  <thead>
				    <tr>
				      <th>Name</th>
				      <th>Count</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @highscores.each do |x| %>
				      <tr>
				        <td><%= x.name %></td>
				        <td><%= x.score %></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
		</div>
			<script>
				$(document).ready(function() {
				  $('table.highchart')
				    .bind('highchartTable.beforeRender', function(event, highChartConfig) {
				        highChartConfig.chart.backgroundColor = 'ghostwhite';
				  })
				    .highchartTable()
				  ;
				});
				$(document).ready(function()
				{
				  $("tr:even").css("background-color", "#dfdfe5");
				});
			</script>

	</div>
</div>
<div id="results-container">
	<div id="results-content">
	</div>
</div>