div#outer-container {
	width: 100%; 
	margin: auto;
	div#inner-container {
		width: 60%;
		margin: 30px auto;
		border: 1px solid black;
		#question-row {
			width: 100%;
			h1 {
				margin: 30px auto;
			}
		}
		#userinput-row {
			width: 100%;
			form {
				margin-bottom: 30px;
			}
		}
	}
}	
div#timer-container {
	width: 60%;
	margin: auto;
}
