$bg-color:	#ccc;

body {
    width: auto;
    font-family: 'Segoe UI', sans-serif;
}

div#outer-container{
    width: 100%; 
    display: table;
    margin: 30px auto;
    text-align: center;
    div#inner-container{
        width: 60%;
        display: table;
        margin: 30px auto;
        box-shadow: 4px 4px 4px #d8d8d8;
        background-color: ghostwhite;
        div#start-row, div#question-row{
            width: 100%;
            h1{
                margin: 30px auto;
                text-align: center;
            }
        }
        div#userinput-row{
            width: 100%;
            form{
                margin-bottom: 30px;
            }
        }
        form#continue-form{
            width: 98%;
            display: table;
            margin: 0 auto 30px auto;
        }
        form#index-form{
            width: 98%;
            display: table;
            margin: 0 auto 30px auto;
            div.answer-group{
                width: 100%;
                margin: 10px auto;
                input.answer-content{ 
                    width: 30%;
                    float: left;
                    height: 60px;
                    margin: auto 1.66%;
                }
            }
            div.answer-group:last-of-type{
                top: 15px;
                position: relative;
            }
        }
        form#start-form{
            display: table;
            margin: 0 auto 30px auto;
        }
    }
}   

div#results-container{
    width: 100%;
    div#results-content{
        width: 60%;
        margin: auto;
        h1{
            text-align: center;
        }
    }
}
div#timer-container{
    width: 60%;
    margin: auto;
    div.timerBar {
        width: 0%;
        height: 30px;;
        background-color: #607d8b;
        -webkit-animation-fill-mode: backwards;
        -webkit-animation: countdown 10s linear 0s; /* Chrome, Safari, Opera */    
        animation-fill-mode: backwards;
        animation: countdown 10s linear 0s;
    }
}



/* Chrome, Safari, Opera */
@-webkit-keyframes countdown {
    0%   {width: 100%}
    100% {width: 0%; background-color: $bg-color }
}
/* Standard syntax */
@keyframes countdown {
    0%   {width: 100%}
    100% {width: 0%; background-color: $bg-color }
}


/* .fadeInUpBig  ---  https://daneden.github.io/animate.css/ */
@-webkit-keyframes fadeInUpBig {
    0%  {opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
    100% {opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUpBig {
    0% {opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
    100% {opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}