// Place all the styles related to the Play controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bg-color:	#ccc;

body {
    width: auto;
    font-family: 'Segoe UI', sans-serif;
    background-image: url("../img/village.jpg"); /* This will be a high-res photo; updated by javascript */
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-color: #ccc;
}
/*
#headerWrapper {
    width: 100%;
    min-height: 15%;
    height: auto;
    position: relative;
    border: 0px solid;
    border-radius: 0px;
    background-color: #000;
    box-shadow: 0px 1px 10px -2px #444444;
    color: #fff;
}
*/
#questionContainer {
    width: 100%;
    height: 40%;
    margin: auto; 
    text-align: center;
    /* animation styling */
    /*-webkit-animation: fadeInUpBig 3s;
    animation: fadeInUpBig 3s;*/
}

#answerContainer {
    max-width: 100%;
    height: 50%;
    margin: auto;
}

/* =Structure Tablet
-------------------------------------------------------------- */
@media screen and (min-width : 900px) {
	#questionContainer {
    	width: 70%;
    	height: 40%;
    	margin: auto; 
    }

    #answerGroup {
        float: left;
        width: 28%;
    }
}

.questionContent, .answerContent { /* Card style */
    padding: 1.5rem;
    box-shadow: 0 1px 2px #aaa;
    background: white;
    margin: 0 1rem 1rem;
    border-radius: 3px;
}

.timerBar {
    width: 0%;
    min-height: 30px;
    height: auto;
    background-color: #607d8b;
    /* animation styling */
    -webkit-animation: countdown 15s linear 2s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: backwards;
    animation: countdown 15s linear 2s;
    animation-fill-mode: backwards;
}



/* Chrome, Safari, Opera */
@-webkit-keyframes countdown {
    0%   {width: 100%}
    100% {width: 0%; background-color: $bg-color }
}
/* Standard syntax */
@keyframes countdown {
    0%   {width: 100%}
    100% {width: 0%; background-color: $bg-color }
}


/* .fadeInUpBig  ---  https://daneden.github.io/animate.css/ */
@-webkit-keyframes fadeInUpBig {
    0%  {opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
    100% {opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUpBig {
    0% {opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
    100% {opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}