body {
  width: auto;
  font-family: 'Segoe UI', sans-serif; }

table {
  width: 100%;
}

div#outer-container {
  width: 100%;
  display: table;
  margin: 30px auto;
  text-align: center; }
  div#outer-container div#inner-container {
    width: 60%;
    display: table;
    margin: 30px auto;
    box-shadow: 4px 4px 4px #d8d8d8;
    background-color: ghostwhite; }
    div#outer-container div#inner-container div#start-row, div#outer-container div#inner-container div#question-row {
      width: 100%; }
      div#outer-container div#inner-container div#start-row h1, div#outer-container div#inner-container div#question-row h1 {
        margin: 30px auto;
        text-align: center; }
    div#outer-container div#inner-container div#userinput-row {
      width: 100%; }
      div#outer-container div#inner-container div#userinput-row form {
        margin-bottom: 30px; }
    div#outer-container div#inner-container form#continue-form {
      width: 98%;
      display: table;
      margin: 0 auto 30px auto; }
    div#outer-container div#inner-container form#index-form {
      width: 98%;
      display: table;
      margin: 0 auto 30px auto; }
      div#outer-container div#inner-container form#index-form div.answer-group {
        width: 100%;
        margin: 10px auto; }
        div#outer-container div#inner-container form#index-form div.answer-group input.answer-content {
          width: 30%;
          float: left;
          height: 60px;
          margin: auto 1.66%; }
      div#outer-container div#inner-container form#index-form div.answer-group:last-of-type {
        top: 15px;
        position: relative; }
    div#outer-container div#inner-container form#start-form {
      display: table;
      margin: 0 auto 30px auto; }

div#results-container {
  width: 100%; }
  div#results-container div#results-content {
    width: 60%;
    margin: auto; }
    div#results-container div#results-content h1 {
      text-align: center; }

div#timer-container {
  width: 60%;
  margin: auto; }
  div#timer-container div.timerBar {
    width: 0%;
    height: 30px;
    background-color: #607d8b;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation: countdown 15s linear 0s;
    /* Chrome, Safari, Opera */
    animation-fill-mode: backwards;
    animation: countdown 15s linear 0s; }

/* Chrome, Safari, Opera */
@-webkit-keyframes countdown {
  0% {
    width: 100%; }
  100% {
    width: 0%;
    background-color: #ccc; } }
/* Standard syntax */
@keyframes countdown {
  0% {
    width: 100%; }
  100% {
    width: 0%;
    background-color: #ccc; } }
/* .fadeInUpBig  ---  https://daneden.github.io/animate.css/ */
@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

/*# sourceMappingURL=play.css.css.map */
