body {
  width: auto;
  font-family: 'Segoe UI', sans-serif;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-color: #ccc; }

/*
#headerWrapper {
    width: 100%;
    min-height: 15%;
    height: auto;
    position: relative;
    border: 0px solid;
    border-radius: 0px;
    background-color: #000;
    box-shadow: 0px 1px 10px -2px #444444;
    color: #fff;
}
*/
h1 {
  text-align: center; }

form {
  text-align: center; }

#questionContainer {
  min-width: 100%;
  height: 40%;
  margin: auto;
  text-align: center;
  z-index: 999;
  float: left;
  /* animation styling */
  /*-webkit-animation: fadeInUpBig 3s;
  animation: fadeInUpBig 3s;*/ }

#answerContainer {
  width: 100%;
  height: 50%;
  margin: 0 auto; }

#answerContainer h1 {
  text-align: center; }

#answerContainer #answerRow {
  width: 90%;
  margin: auto; }

#answerContainer #answerRow .answerButton {
  width: 33%;
  float: left; }

/* =Structure Tablet
-------------------------------------------------------------- */
@media screen and (min-width: 900px) {
  #questionContainer {
    width: 70%;
    height: 40%;
    margin: auto; }

  #answerGroup {
    float: left;
    width: 33%;
    margin: 0 auto; } }
.questionContent, .answerContent {
  /* Card style */
  min-width: 90%;
  padding: 1.5rem;
  box-shadow: 0 1px 2px #aaa;
  background: white;
  margin: 0 1rem 1rem;
  border-radius: 3px;
  text-align: center; }

.timerBar {
  width: 0%;
  min-height: 30px;
  height: auto;
  float: left;
  background-color: #607d8b;
  /* animation styling */
  -webkit-animation: countdown 15s linear 2s;
  /* Chrome, Safari, Opera */
  -webkit-animation-fill-mode: backwards;
  animation: countdown 15s linear 2s;
  animation-fill-mode: backwards; }

/* Chrome, Safari, Opera */
@-webkit-keyframes countdown {
  0% {
    width: 100%; }

  100% {
    width: 0%;
    background-color: #cccccc; } }

/* Standard syntax */
@keyframes countdown {
  0% {
    width: 100%; }

  100% {
    width: 0%;
    background-color: #cccccc; } }

/* .fadeInUpBig  ---  https://daneden.github.io/animate.css/ */
@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
